.button {
  // Basic button styles
  padding: 0.75rem 1.5rem;
  padding: 8px 12px;

  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-button);

  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;

  font-size: 1rem;
  font-size: 10px;

  .material-symbols-outlined {
    margin-right: 5px;
  }

  &__text {
    font-size: 1rem;
    font-size: 12px;

    font-family: "Open Sans", sans-serif;
    color: inherit;
  }

  &--primary {
    background-color: var(--color-light);
    background-color: inherit;

    color: inherit;
    border: 1.75px solid inherit;
  }

  &--cta {
    // color: var(--color-light);
    color: var(--card-color);

    border: 1.75px solid var(--dark);
    background-color: var(--dark);
    // background-color: inherit;

    padding: 8px 8px;

    .button__text {
      font-size: 12px;
      line-height: 12px;
      // font-weight: lighter;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
    }
  }

  &--iconOnly {
    padding: 2px;
    line-height: 8px;

    color: var(--medium);

    border: 1.75px solid var(--medium);
    background-color: var(--medium);
    background-color: inherit;

    > * {
      font-size: 20px !important;
      line-height: 20px;
    }
  }
}
