.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

$title: var(--color-yellow-medium);
$font: "Ghost", serif;
$txt: var(--color-dark);

.textContainer {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .title {
    font-size: 8rem;

    font-family: $font;

    color: $title;

    opacity: 75%;
  }

  // .descContainer {
  //   .desc {
  //     font-size: 30px;
  //     font-weight: 600;

  //     color: $txt;
  //   }
  // }

  $bg: var(--color-light);
  $txt: var(--color-dark);
  $box: var(--color-light);
  $hover: var(--color-yellow-medium);

  .button {
    cursor: pointer;
    background-color: $bg;
    color: $txt;

    padding: 8px 12px;
    border: 2px solid $box;
    border-radius: 6px;

    width: fit-content;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  .button:hover {
    background-color: $hover;
    border: 2px solid $hover;

    color: $bg;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;

  opacity: 85%;

  .heroImg {
    object-fit: cover;
    filter: grayscale(100%);
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .button {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }
}
