.container {
  display: flex;
  align-items: center;
  gap: 18px;

  .img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-green-dark);
    border-radius: 50%;
  }

  .avatar {
    object-fit: cover;
    border-radius: 50%;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      color: var(--color-yellow-dark);
      font-weight: bold;
    }

    .username {
      color: var(--color-dark);
      font-weight: 500;
    }
  }
}
