.container {
  display: flex;
  gap: 5rem;
}

.imageContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);

  .img {
    object-fit: cover;
  }
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .title {
    font-size: 4rem;
    color: var(--color-green-dark);
  }

  .detail {
    display: flex;
    gap: 18px;

    .detailText {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .detailTitle {
        color: var(--color-green-dark);
        color: var(--color-yellow-dark);

        font-weight: bold;
      }

      .detailValue {
        color: var(--color-dark);
        font-weight: 500;
      }
    }
  }

  .content {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
